@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);
body {
    background: #10e88a;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    transition: all 200ms;
    will-change: background;
}

article {
    display: block;
    width: 100%;
    text-align: right;
    height: 100vh;
    margin: 6em 0 0 0;
}

h1 {
    font-size: 15em;
    font-weight: 900;
    margin: 0 0.1em;
}

p {
    width: 50%;
    float: right;
    font-size: 1.1em;
    margin: 0 2em;
}

.clear {
    clear: both;
}

#twelve {
  color: gold;
}